@import 'stylesheets/App';
@font-face {
	font-family: "Helvetica-Compressed";
  src: url("http://www.myfontfree.com/data/1/h/helvetica-compressed/unicode.helvetic.ttf");
}

$jeo-blue: #0200a6;
$point-color: #d59e53;
$black: #000000;

.clues {
	background-color: $jeo-blue;
	border: 1px solid $black;
  color: $point-color;
	font-family: "Helvetica-Compressed";
	font-size: 52px;
  font-weight: bolder;
  height: 100px;
  padding-top: 5px;
	text-align: center;
}

.full-center {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.shadow {
  left: -1px;
  position: relative;
  text-shadow: 1px 1px $black,
              2px 2px $black,
              3px 3px $black;
  top: -1px;
}

.categories {
  background-color: $jeo-blue;
	border: 1px solid $black;
  color: white;
	font-family: "Helvetica-Compressed";
	font-size: 26px;
	font-weight: bolder;
  text-align: center;
  height: 100px;
}

.row {
  margin: 0;
}
